*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
    padding: 20px;
    background-color: antiquewhite;
}

.container{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap:10px;
padding-top: 20px;
}
.box{
    background: lemonchiffon;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    width: 22%;
    height: 10%;

}
/*responsive design */
@media(max-width:1024){
    .box{
        width: 45%;
    }
}
@media(max-width:768){
    .box{
        width: 100%;
    }
}
